@tailwind base;
@tailwind components;
@tailwind utilities;

.transition-transform {
    transition: transform 300ms ease-in-out;
}

@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');